version: 2.1

orbs:
  android: circleci/android@1.0.3
  
jobs:
  unit-test:
    executor:
      name: android/android-machine
      resource-class: xlarge
    steps:
      - checkout
      - android/restore-gradle-cache
      - android/restore-build-cache
      - android/run-tests:
          test-command: ./gradlew testDebug
      - android/save-gradle-cache
      - android/save-build-cache
      - store_artifacts:
          path: app/build/outputs/apk/
          destination: /apk/
      - store_artifacts:
          path: app/build/outputs/mapping/
          destination: /mapping/
      
workflows:
  run-unit-test:
    jobs:
      - hold_test_unit:
          filters:
            branches:
              ignore:
                - main
          type: approval
      - unit-test:
          filters:
            branches:
              ignore:
                - main
          requires:
            - hold_test_unit
